<h1>My movies</h1>

<% @movies.each do |movie| %>

<div class="panel panel-info">
  <div class="panel-heading text-center">
    <h1> <%= movie.title %></h1>
  </div>
  <div class="panel-footer"><h3>Director: </h3> <%= movie.director %>
  <br>
  <h4>Release date: </h4> <%= movie.release_date %>
  <br>
  <h4>Runtime: </h4> <%= movie.runtime %>
  <br>
  <h4>Genre: </h4> <%= movie.genre %>
  <br>
  <h4>Rated: </h4> <%= movie.rated %>
  <br>
  <h4>Plot: </h4> <%= movie.plot %>
  <br>
  <%= image_tag movie.poster %></div>
</div>

  

<%end%>