<div align = "center">
  <h1>My movies</h1>
  <h4>
    <%= "#{@movies.count} Movies" %>
  </h4> 
</div>

<div align = "center">
  <%= will_paginate%>
</div>
<% @movies.each do |movie| %>

<div class="panel panel-info">
  <div class="panel-heading text-center">
    <h1> <%= movie.title %></h1>
  </div>
  <div class="panel-footer" style = "overflow: auto;">
    <div class = "row">
      <div class = "col-sm-6 col-md-6 col-lg-4" style = "float:left;">
         <%= image_tag movie.poster %>
      </div>
        <div class = "col-sm-6 col-md-6 col-lg-8" style = "float:right;">
        <h3>Director: </h3> <%= movie.director %>
        <h4>Release date: </h4> <%= movie.release_date %>
        <h4>Runtime: </h4> <%= movie.runtime %>
        <h4>Genre: </h4> <%= movie.genre %>
        <h4>Rated: </h4> <%= movie.rated %>
        <h4>Plot: </h4><p><%= movie.plot %></p>
      </div>
      <div style="clear:both;"></div>
    </div>
 </div>
</div>
<%end%>
<div align = "center">
  <%= will_paginate%>
</div>
