
<h1>Title: </h1> <%= @title %>
<br>
<h3>Director: </h3> <%= @director %>
<br>
<h4>Release date: </h4> <%= @release_date %>
<br>
<h4>Runtime: </h4> <%= @runtime %>
<br>
<h4>Genre: </h4> <%= @genre %>
<br>
<h4>Rated: </h4> <%= @rated %>
<br>
<h4>Plot: </h4> <%= @plot %>
<br>
<%= image_tag @poster %>

<%=link_to "Watch List", movies_create_path(:title => @title, :director => @director,
                                            :runtime => @runtime,:genre => @genre,
                                            :rated => @rated,:plot => @plot,
                                            :poster => @poster,:user => current_user),
                                            :method => :post %>
                                            
                                            <%#=link_to "Watch List", movies_create_path, :method => :post %>